.App {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.book {
  font-size: 12px;
  height: 10vh;
  width: 10vh;
  display: flex;
  flex-direction: column;
  padding: 80px;
  border: solid 1px black;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shelf {
  display: flex;
  flex-direction: column;
  width:max-content;
  height: fit-content;
  border: solid black 2px ;
  padding: 40px;
}
.shelfTitle {
  font-style: italic;
  text-decoration: underline;
}
.shelf-item{
  font-size: 13px;
}
.clearShelf{
  width: 6vh;
}
.booksFiltered {
  display: flex;
  flex-direction: column;
  
}